@import url('https://fonts.googleapis.com/css?family=Asap|Inconsolata');

:root{
font-family: 'Inconsolata', monospace;
font-family: 'Asap', sans-serif;
}
link{
    display:none;
}

body{
    max-width:980px;
    margin:0 auto;
}

li{
    
    list-style-type: none;
    font-size: 0.9rem;
}

.logo{
    max-width: 80px; 
    float:left;
   
}
ul{
 
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    padding:20px 40px;
}

a{
    text-decoration: none;
}

.background{
  max-width: 80%;
}
.header-text{
    text-align: center;
    padding-top:130px;
}
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    width:500px;
}

#skills {
    text-align: center;
    grid-column-start:1;
    grid-column-end:3;
}
#links{
    text-align: center;
    grid-column-start:1;
    grid-column-end:3;
}
#work{
    text-align: center;
    grid-column-start:1;
    grid-column-end:3;
}
.contactme{
    max-width: 80%;
    text-align: center;
}

.social{
    text-align: center;
    width:30px;
}
section{
    text-align: center;
}
div{
    padding: 5px;
}
footer{
    text-align: center;
}